@page
@model Veterinaria.App.Presentacions.Page.loginModel
@{
}
<link rel="stylesheet" href="~/css/login.css" />
<script src="~/js/site.js"></script>

<body>
    <div class="login-reg-panel">
		<div class="login-info-box">
			<h2>Tienes una cuenta?</h2>
			<p>Inicia sesión para realizar trámites para tu mascota</p>
			<label id="label-register" for="log-reg-show">Iniciar sesión</label>
			<input type="radio" name="active-log-panel" id="log-reg-show"  checked="checked">
		</div>
							
		<div class="register-info-box">
			<h2>No tienes un cuenta?</h2>
			<p>Regístrate para tener acceso a mayores beneficios</p>
			<label id="label-login" for="log-login-show">Regístrate</label>
			<input type="radio" name="active-log-panel" id="log-login-show">
		</div>
							
		<div class="white-panel">
			<div class="login-show">
				<h2>Iniciar</h2>
				<input type="text" placeholder="Correo">
				<input type="password" placeholder="Constraseña">
				<input type="button" value="Iniciar sesión">
				<a href="">Olvidaste tu contraseña?</a>
			</div>
			<div class="register-show">
				<h2>Regístrate</h2>
				<input type="text" placeholder="Correo">
				<input type="password" placeholder="Contraseña">
				<input type="password" placeholder="Confirmar Contraseña">
				<input type="button" value="Registrar">
			</div>
		</div>
	</div>
</body>
